@using Microsoft.AspNetCore.Identity
@using Appli.Models;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<Appli.Models.JobApplication>

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{

    <div class="text-center">
        <h2>Welcome APPLi. Let's get you hired!</h2>
    </div>

    <p>
        <a asp-controller="JobApplications" asp-action="Create">Create New</a>
    </p>
    <table class="table table-hover">
        <thead>
            <tr class="table-info">
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CompanyName)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Position)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Recruiter)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.PositionLink)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.NextInterview)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Offer)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.LastContact)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.IsActive == false)
                {
                    <tr class="jobApp table-active">
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Recruiter.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PositionLink)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NextInterview)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastContact)
                        </td>
                        <td>
                            <a asp-controller="JobApplications" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="JobApplications" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-controller="JobApplications" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
                else if (item.Rejected == true)
                {
                    <tr class="jobApp table-active">
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Recruiter.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PositionLink)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NextInterview)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastContact)
                        </td>
                        <td>
                            <a asp-controller="JobApplications" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="JobApplications" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-controller="JobApplications" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }

                else if (item.NextInterview != null)
                {
                    <tr class="jobApp table-success">
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Recruiter.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PositionLink)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NextInterview)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastContact)
                        </td>
                        <td>
                            <a asp-controller="JobApplications" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="JobApplications" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-controller="JobApplications" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }

                else if (item.LastContact.AddDays(7) < DateTime.Now)
                {
                    <tr class="jobApp table-primary">
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Recruiter.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PositionLink)
                        </td>
                        <td>
                           Time to follow up...
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Offer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastContact)
                        </td>
                        <td>
                            <a asp-controller="JobApplications" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="JobApplications" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-controller="JobApplications" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }

                else
                {
                    <tr class="jobApp table-warning">
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Recruiter.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PositionLink)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NextInterview)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastContact)
                        </td>
                        <td>
                            <a asp-controller="JobApplications" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-controller="JobApplications" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-controller="JobApplications" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

else
{
    <p>Sorry! You must be logged in to see that!</p>
}